# bank2ynab specific stuff
user_configuration.conf
test-data/temp-test.conf
b2y_env/
env/
uv.lock
# general
*.pyc
*.pyo
*.pyd
*.egg-info/
__pycache__/
build/
dist/
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.coverage*
# local tooling
.venv/
# vscode stuff
bank2ynab/workspace.code-workspace
.vscode
# mac stuff
.DS_Store
.AppleDouble
.LSOverride
.idea
# legacy / generated
src/
github-pages/
